<header>
    <div class="title">
        <img class="titel__image" src="/upload/controler-light.png" alt="Logo Gamebuddy,s">
        <h1>Gamebuddy,s</h1>
        <img class="titel__image" src="/upload/controler-light.png" alt="Logo Gamebuddy,s">
    </div>
    <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Registeren</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <h2>About</h2>
</header>