<header>
<h1>Matching</h1>
    <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Registeren</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <h2>About</h2>
    <h3>hallo {{user.name}} uit {{user.woont}} die {{user.leeftijd}} jaar oud is.</h3>
</header>