<header>
    <div class="title">
        <img class="titel__image" src="/upload/controler-light.png" alt="Logo Gamebuddy,s">
        <h1>Gamebuddy,s</h1>
        <img class="titel__image" src="/upload/controler-light.png" alt="Logo Gamebuddy,s">
    </div>
    <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Registeren</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>Home</h2>
    <p>Je heb nog geen acount aangemaakt. Of je bent nog niet ingelogt.</p>
    <button onclick="window.location.href='/register'"> Maak een acount aan </button>
    <button onclick="window.location.href='/login'"> Login als je al een acount heb</button>

</main>