<header>
    <h1>Gamebuddy,s</h1>
    <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Registeren</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <h2>Home</h2>
</header>
<main>
    <p>Je heb nog geen acount aangemaakt. Of je bent nog niet ingelogt.</p>
    <button><a href="/register"> maak een acount aan </a></button>
    <button><a href="/login"> Login als je al een acount heb</a></button>

</main>