<header>
    <div class="title">
        <img class="titel__image" src="/upload/controler-light.png" alt="Logo Gamebuddy,s">
        <h1>Gamebuddy,s</h1>
        <img class="titel__image" src="/upload/controler-light.png" alt="Logo Gamebuddy,s">
    </div>
    <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Registeren</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>Login</h2>
    <form action="/login" method="post">
        <fieldset class="forum__content">
            <legend class="forum__header">Log in</legend>
            <label for="name">Vul hier je naam in </label>
            <input class="forum__input" type="text" id="name" name="name" required>
            <label for="wachtwoord"> Vul hier je wachtwoord in </label>
            <input class="forum__input" type="password" id="wachtwoord" name="wachtwoord" required>
            <button class="forum__button" type="submit">Log in</button>
        </fieldset>
    </form>
    <button onclick="window.location.href='/register'"> Maak een acount aan </button>
</main>