<header>
    <h1>Gamebuddy,s</h1>
    <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Registeren</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <form action="/login" method="post" class="login--forum">
        <legend class="login--forum-header">Log in</legend>
        <fieldset class="login--forum-content">
            <label for="name">Vul hier je naam in </label>
            <input class="login--forum-input" type="name" id="name" name="name" required>
            <label for="password"> Vul hier je wachtwoord in </label>
            <input class="login--forum-input" type="password" id="wachtwoord" name="wachtwoord" required>
            <button class="login--forum-button" type="submit">Log in</button>
        </fieldset>
    </form>
    <button><a href="/register"> Registeren </a></button>
</main>