<header>
    <h1>Matching</h1>
    <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Registeren</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <h2>maak een acount aan</h2>
</header>
<main>
    <form action="/login" method="post" id="form">
        <fieldset>
            <legend> Wie ben je</legend>
            <label for="name">Vul je naam in </label>
            <input type="name" id="name" name="name" required>
            <legend>Wachtwoord</legend>
            <label for="password"> maak een wachtwoord </label>
            <input type="password" id="wachtwoord" name="wachtwoord" required>
        </fieldset>
        <button type="submit">Log in</button>
    </form>
    <button><a href="/register"> Registeren </a></button>
</main>