<header>
    <h1>Gamebuddy,s</h1>
    <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Registeren</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <form action="/register" method="post" class="register--forum">
        <legend class="register--forum-header"> Maak een acount aan </legend>
        <fieldset class="register--forum-content">
            <label for="name">Vul je naam in </label>
            <input class="register--forum-input" type="name" id="name" name="name" required>
            <label for="mail">Vul je email in </label>
            <input class="register--forum-input" type="mail" id="mail" name="mail" required>
            <label for="password"> Maak een wachtwoord </label>
            <input class="register--forum-input" type="password" id="wachtwoord" name="wachtwoord" required>
            <label for="Game chooser"> Kies je favoriete game </label>
            <input class="register--forum-input" type="text" id="gamechoose" name="game" required>
            </select>
            <button class="register--forum-button" type="submit">Registeer</button>
        </fieldset>
    </form>
    <button><a href="/login"> login </a></button>
    <h3>{{gebruiker}}</h3>
    <script src="register.js"></script>
</main>