<header>
    <div class="title">
        <img class="titel__image" src="/upload/controler-light.png" alt="Logo Gamebuddy,s">
        <h1>Gamebuddy,s</h1>
        <img class="titel__image" src="/upload/controler-light.png" alt="Logo Gamebuddy,s">
    </div>
    <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Registeren</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>Registeer</h2>
    <form action="/register" method="post">
        <fieldset class="forum__content">
            <legend class="forum__header"> Maak een acount aan </legend>
            <label for="name">Vul je naam in </label>
            <input class="forum__input" type="text" id="name" name="name" required>
            <label for="mail">Vul je email in </label>
            <input class="forum__input" type="email" id="mail" name="mail" required>
            <label for="wachtwoord"> Maak een wachtwoord </label>
            <input class="forum__input" type="password" id="wachtwoord" name="wachtwoord" required>
            <label for="gamechoose"> Kies je favoriete game </label>
            <input class="forum__input" type="text" id="gamechoose" name="game" required>
            <button type="button" class="forum_button_disabeld" id="game-check">Game check</button>
            <button id="submit-btn" class="forum__button" type="submit">Registeer</button>
        </fieldset>
    </form>
    <button onclick="window.location.href='/login'"> Login als je al een acount heb</button>
    <h3>{{gebruiker}}</h3>
    <script src="register.js"></script>
</main>