<header>
    <h1>Matching</h1>
    <nav>
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Registeren</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <h2>maak een acount aan</h2>
    <h3>hallo <span id="Naamveld">...</span> met als mail <span id="Mailveld">...</span> met als wachtwoord <span
            id="Passwordveld">...</span> .</h3>
</header>
<main>
    <form action="/register" method="post" id="form">
        <fieldset>
            <legend> Wie ben je</legend>
            <label for="name">Vul je naam in </label>
            <input type="name" id="name" name="name" required>
            <legend>E-mail</legend>
            <label for="mail">Vul je email in </label>
            <input type="mail" id="mail" name="mail" required>
            <legend>Wachtwoord</legend>
            <label for="password"> maak een wachtwoord </label>
            <input type="password" id="wachtwoord" name="wachtwoord" required>
            <legend>Kies je favoriete game(s)</legend>
            <select name="game" id="game kiezer" required>
                <option value=""=>-- maak asjeblieft een keuze --</option>
                <option value="fifa">Fifa</option>
                <option value="gta">Gta</option>
                <option value="pokemon">Pokemon</option>
                <option value="mario">Mario</option>
                <option value="minecraft">Minecraft</option>
            </select>
        </fieldset>
        <button type="submit">Registeer</button>
    </form>
    <button><a href="/login"> login </a></button>
    <h3>{{gebruiker}}</h3>
    <script src="register.js"></script>
</main>