* {
	padding: 0;
	margin: 0;
}


@font-face {
	font-family: main-font;
	src: url(./fonts/CircularStd-Bold.otf);
}

@font-face {
	font-family: secondary-font;
	src: url(./fonts/Poppins-Regular.ttf);
}

:root {
	--pagina-kleur-1: darkblue;
	--pagina-kleur-2: black;
	--tekst-kleur: white;
	--link-kleur: black;
	--border-kleur: white;
	--button-color: white;
	--button-text-color: black;
	--forum-background: rgba(0, 0, 0, 0.2);

	--main-font: main-font;
	--secondary-font: secondary-font;
}

body {
	color: var(--tekst-kleur);
	font-family: var(--secondary-font);
	background: linear-gradient(var(--pagina-kleur-1), var(--pagina-kleur-2), var(--pagina-kleur-1));
	min-height: 100vh;
	padding: 0;
}

header {
	margin: 16px;
	text-align: center;
}

.title {
	display: flex;
	justify-content: space-around;
	margin: 16px 480px 16px 480px;
	font-family: var(--main-font);
}

.titel__image {
	width: 15%;
}

nav>ul {
	margin: 16px;
	justify-content: center;
	padding: 10px 0px;
	list-style-type: none;
	display: flex;
}

nav>ul>li>a {
	border-radius: 1ch;
	margin: 6px;
	padding: 8px;
	background-color: white;
	opacity: 0.6;
}

a {
	color: var(--link-kleur);
	text-decoration: none;
}

h1,
h2 {
	font-weight: bold;
}

main {
	text-align: center;
}

p {
	padding: 16px;
	display: block;
}

button {
	padding: 16px;
	border-radius: 1ch;
	background-color: var(--button-color);
	margin: auto;
	font-weight: bold;
	opacity: 0.6;
}


form {
	max-width: 352px;
	margin: 0 auto;
	margin-bottom: 32px;
	border-radius: 5px;
	overflow: hidden;
	background: var(--forum-background);
	border: 2px solid var(--border-kleur);
}

.forum__header {
	font-weight: bold;
	margin-top: 16px;
}

.forum__content {
	padding: 32px;
	border: none;

}


.forum__input {
	width: 80%;
	margin-bottom: 8px;
	padding: 16px;
	border-radius: 5px;
	border: 2px solid var(--border-kleur);
	opacity: 0.9;
	outline: none;
}


.forum__button {
	background-color: darkblue;
	color: white;
	padding: 16px;
	border: 2px solid var(--border-kleur);
	margin-top: 8px;
}

.forum_button_disabeld {
	color: gray;
	background-color: lightgray;
	opacity: .2;
}