* {
	padding: 0;
	margin: 0;
}

:root {
	--pagina-kleur-1: darkblue;
	--pagina-kleur-2: black;
	--tekst-kleur: white;
	--link-kleur: black;
	--border-kleur: white;
	--button-color: white;
	--button-text-color: black;
	--forum-background:rgba(0, 0, 0, 0.2);
}

body {
	color: var(--tekst-kleur);
	font-family: Georgia, 'Times New Roman', Times, serif;
	background: linear-gradient(var(--pagina-kleur-1),var(--pagina-kleur-2),var(--pagina-kleur-1));
	min-height: 100vh;
	padding: 0;
}

header {
	margin: 1em;
	text-align: center;
}

.title{
	display: flex;
justify-content: space-around;
margin: 1em 30em 1em 30em;
}

.titel__image{
	width: 15%;
}

nav>ul {
	margin: 1em;
	justify-content: center;
	padding: 10px 0px;
	list-style-type: none;
	display: flex;
}

nav>ul>li>a {
	border-radius: 1ch;
	margin: 6px;
	padding: 8px;
	border: 2px solid var(--border-kleur);
	background-color: white;
	opacity: 0.6;
}

a {
	color: var(--link-kleur)
}

h1,
h2 {
	font-weight: bold;
}

main {
	text-align: center;
}

p {
	padding: 1em;
	display: block;
}

button {
	padding: 1em;
	border-radius: 1ch;
	border: 2px solid var(--border-kleur);
	background-color: var(--button-color);
	margin: auto;
	font-weight: bold;
	opacity: 0.6;
}



form{
	max-width: 22em;
	margin: 0 auto;
	margin-bottom: 2em;
	border-radius: 5px;
	overflow: hidden;
	background: var(--forum-background);
	border: 2px solid var(--border-kleur);
}

.forum__header{
	font-weight: bold;
	margin-top: 1em;
}

.forum__content{
padding: 2em;
border: none;

}




.forum__input{
	width: 80%;
	margin-bottom: .5em;
	padding: 1em;
	border-radius: 5px;
	border: 2px solid var(--border-kleur);
	opacity: 0.9;
	outline: none;
}


.forum__button{
	background-color: darkblue;
	color: white;
	padding: 1em;
	border: 2px solid var(--border-kleur);
	margin-top: .5em ;
}